PORT=3000

# Database Config
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=hadafak_db
DATABASE_SYNCHRONIZE=true

# JWT Config
JWT_SECRET=some-secure-jwt-secret-key
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d
EXERCISEDB_API_KEY=